.clear {clear:both} 
/* remove the list style */

body {
	background-color:#ffffff;
}

.das_menu{
	position: fixed;
}

.das_menu_top_left {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	padding:15px;
	float:left;
}

.das_menu_top_right {
	left: 900px;
	padding:15px;
	float:right;
}

.das_menu_bar {
	top: 50px;
	z-index: 10000;
	background-color: #85C750;
}

.das_menu_bar_left {
	width: 251px;
	text-align: center;
	border-right:solid 1px #ffffff;
	background-color:#cdcdcc;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
}

.das_editing_descr {
	color:#ffffff;
}

#das_nav {
    margin:0; 
    padding:0; 
    list-style:none;
    z-index: 100000;
}   
     
/* make the LI display inline */
/* it's position relative so that position absolute */
/* can be used in submenu */
#das_nav li {
    float:left; 
    display:block;
    z-index:500;
    position:relative;
    padding:0 10px 0 10px;
    cursor: hand;
}
     
/* this is the parent menu */
#das_nav li div {
    display:inline;
    height:23px; 
    text-decoration:none; 
    color:#fff; 
    text-align:center;
}

#das_nav li:hover div {
    color:#000;
}
 
/* you can make a different style for default selected value */
#das_nav div.selected {
    color:#f00;
}

/* submenu, it's hidden by default */
#das_nav ul {
    position:absolute; 
    left:0; 
    display:none; 
    margin:0 0 0 -1px; 
    padding:0; 
    list-style:none;
}
 
#das_nav ul li {
    width:100px; 
    float:left; 
    border-top:1px solid #fff;
    cursor: hand;
}
 
/* display block will make the link fill the whole area of LI */
#das_nav ul div {
    display:block;  
    height:15px;
    padding: 8px 5px; 
    color:#fff !important;
}
 
#das_nav ul div:hover {
		color: #000 !important;
    text-decoration:underline;  
}
 
/* fix ie6 small issue */
/* we should always avoid using hack like this */
/* should put it into separate file : ) */
*html #das_nav ul {
    margin:0 0 0 -2px;
}

.das_perm_menu_btn {
	cursor: pointer;
	border-right:solid 1px #ffffff;
	color: #ffffff;
	text-align: center;
	font-family: arial;
	font-weight: bold;
	font-size: 14px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.das_menu_font_select {
	cursor: pointer;
}

.das_menu_font_select:hover {
	background-color: rgba(174,200,255,1);
	color: black;
}

.das_content_container {
	position: absolute;
	top: 70px;
}

.das_side_menu {
	top: 70px;
	z-index: 10000;
	overflow-x: visible;
	overflow-y: scroll;
	background-color: #ededed;
	padding: 5px;
	
}

.dasformText {
	font-family: arial;
	font-size: 14px;
	color: #333333;
}

.das_img_size {
	width: 50px;
}

.das_content_window {
	position: absolute;
	left: 250px;
	padding: 15px;
	vertical-align: top;
}

.das_main_menu {
	width: 216px;
}

.das_original_element {
	border: solid 1px black;
	position: static;
	top: 30px;
	float:left;
	width: 750px;
	height: 750px;
	border-style: solid;
	border-width: 1px;
}

#das_franchise {
	width:200px;
}

.das_divider {
	height: 1px;
	color: #000000;
	background-color: #000000;
	width: 100%
}

#das_element_menu {
	width: 216px;
	margin-top:1em;
}

.das_element_menu_block_top {
	padding-bottom:8px;
	padding-top:8px;
}

.das_element_menu_block {
	padding-bottom:8px;
}

.das_text_size {
	float: left;
}

.das_text_size_inputbox {
	width: 30px;
	height: 27px;
}

.das_text_size_list {
	position: absolute;
	width: 56px;
	background-color: white;
	z-index: 100;
}

.das_text_font {
	position: relative;
}

.das_menu_font_select {
	
}

.ui-button-text {
	font-size: 12px;
}

.das_img_name {
	text-align: center;
}

.das_img_thumb_container {
	display: inline-block;
	background-color: lightgray;
}

.das_move_btn {
	display: block;
}