@font-face {
    font-family: 'BlackOps';
    src: url('blackopsone-webfont.eot');
    src: url('blackopsone-webfont.eot?#iefix') format('embedded-opentype'),
         url('blackopsone-webfont.woff') format('woff'),
         url('blackopsone-webfont.ttf') format('truetype'),
         url('blackopsone-webfont.svg#BlackOpsOneRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}